<%- include('partials/header.ejs') %>

<h1><%= blogData.title %></h1>

<p>
    <%= blogData.content %>
</p>

<button><a href="/edit?id=<%= id %>">Edit</a></button>
<button><a href="/delete?id=<%= id %>">Delete</a></button>




<%- include('partials/footer.ejs') %>